.wrapper {
  min-width: 1140px;
  max-width: 1400px;
  background-image: url(../../images/header.png);
  background-position: 60% bottom;
  background-repeat: no-repeat;
}
.container {
  width: 95%;
  margin: 0 auto;
  height: 140px;
  position: relative;
}
span {
  display: block;
  width: 90%;
  height: 10px;
  margin: 0 auto;
  background-color: #fff;
}
.logo {
  text-align: center;
  font-family: "DM Sans";
  font-size: 50px;
  color: white;
  position: absolute;
  top: 30%;
  left: 40%;
}
.logo span.dot {
  background: none;
  display: inline;
  color: #ce0d29;
}
