.submenu {
  position: absolute;
  left: 50%;
  transform: translateX(-65%);
  display: none;
  min-width: 150px;
  padding: 20px;
  background-color: rgb(94, 1, 52);
}

.submenu .triangle {
  top: -10px;
  left: 0;
  position: absolute;
  border-bottom: 10px solid rgb(94, 1, 52);
  border-left: 10px transparent;
  border-right: 10px transparent;
}

.show {
  display: block;
}

.submenu li {
  list-style: none;
}
