.submenu {
  position: absolute;
  left: 50%;
  transform: translateX(-65%);
  display: none;
  min-width: 150px;
  padding: 20px;
  background-color: aquamarine;
}

.show {
  display: block;
}

.submenu li {
  list-style: none;
}
